.book-link{
    text-decoration: none;
}

.book-card{
    margin: 3px;
    height: 100%;
    max-width: 300px;
    h5{
        font-weight: bold;
        height: 75px;
        overflow: auto;
        color: #9C4343;
    }

    img{
        height: 300px;
    }

    .default-book-cover-photo{
        height: 300px;
        background-color: gray;
    }

    .card-text{
        color: black;
    }

    .book-card-price{
        background-color: #F3EFEF;
        span{
            margin: 5px;
            padding-left: 10px;
            color: black;
        }
    }
}

.book-card:hover{
    transform: scale(1.02);
    box-shadow: 0 10px 20px gray, 0 4px 8px gray;
}