.footer{
    background-color: black;
    margin-top: 100px;
    padding: 30px;
    .brand-icon{
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: flex-end;
        width: 200px;
    }
    .brand-information{
        width: auto;
        h5{
            color: #f75454;
            font-weight: bold;
            margin-bottom: 2px;
        }
        p{
            color: white;
            margin-bottom: 2px;
        }
    }
}