.navbar{
    background-color: black;
    .navbar-header{
        display: flex;
        align-items: center;
        img {
            padding-left: 20px;
            height: 30px;
        }
        span{
            font-weight: bold;
            color: #f75454;
            font-size: 25px;
        }
      }
    .nav-pills{
        @media screen and (max-width: 950px){
            display: none;
        }
        li.nav-item{
            .nav-link{
                color: white;
                font-weight: bold;
                .badge{
                    background-color: #f75454;
                }
            }
            .nav-link.active{
                background-color: #f75454;
                color: white;
                border-radius: 8px;
                .badge{
                    background-color: black;
                }
            }
            .nav-link:hover{
                color: #f75454;
            }
            .nav-link.active:hover{
                color: white;
            }
            .nav-link.dropdown-item{
                background-color: white;
                color: black;
            }
            .nav-link.dropdown-item:hover{
                color: #f75454;
            }
        }
    }
    .nav.dropdown{
        @media screen and (max-width: 950px){
            display: block;
        }
        display: none;
        margin-right: 20px;
        .dropdown-button{
            background-color: #f75454;
            color: white;
            border-radius: 8px;
        }
        i{
            padding: 10px;
        }
        li.nav-item{
            .nav-link{
                color: black;
                font-weight: bold;
                border: none;
                background-color: white;
                .badge{
                    background-color: #f75454;
                }
            }
            .nav-link.active{
                background-color: #f75454;
                color: white;
                border-radius: 8px;
                .badge{
                    background-color: black;
                }
            }
            .nav-link:hover{
                color: #f75454;
            }
            .nav-link.active:hover{
                color: white;
            }
            .nav-link.dropdown-item:hover{
                background-color: white;
            }
        }
    }
}