body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body .container {
  margin-top: 100px;
}
body .line {
  background-color: black;
  height: 1px;
}
body .part-title p {
  padding-top: 10px;
  float: left;
  font-size: 25px;
  font-weight: bold;
  color: #9C4343;
}
body .page-padding-content {
  padding-left: 80px;
  padding-right: 80px;
}
body .button {
  background-color: #9C4343;
  color: white;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid white;
  font-weight: bold;
}
body .button:hover {
  color: white;
  background-color: #8a3b3b;
}
body .previous-price {
  text-decoration: line-through;
  font-size: 15px;
}
body .final-price {
  font-size: 20px;
  font-weight: bold;
}
body .button-in-list {
  background-color: white;
  text-align: left;
  font-size: 15px;
  color: black;
  border: none;
}
body .button-in-list:hover {
  color: #9C4343;
}
body .button-in-list.active {
  color: #9C4343;
  font-weight: bold;
}
