.bookworm-information{
    h1{
        padding: 20px;
        font-weight: bold;
        text-align: center;
    }
    .about-content{
        padding: 30px;
        span{
            padding-top: 15px;
            font-size: 22px;
        }
        h4{
            font-weight: bold;
            padding-top: 30px
        }
        p{
            padding-top: 15px;
            font-size: 18px;
        }
    }
}