.product-in-cart-detail{ 
    h5{
        font-weight: bold;
        font-size: 18px;
    }
    .product-in-cart-name{
        display: flex;
        align-items: center;
        .book-title{
            height: 50px;
            overflow: auto;
        }
        .default-book-cover-photo{
            margin: 5px;
            height: 150px;
            width: 120px;
            background-color: gray;
            border-radius: 8px;
        }
        img{
            margin: 5px;
            display: inline;
            width: 120px;
            height: 150px;
            border-radius: 8px;
        }
        h6{
            font-size: 15px;
        }
    }

    .plus-minus-number-input{
        display: flex;
        align-items: center;
        height: 30px;
        .product-quantity{
            width: 60%;
            height: 100%;
            text-align: center;
            border: solid black 1px;
        }
        button{
            height: 100%;
        }
    }
}