body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	.container{
		margin-top: 100px;
	}

	.line{
		background-color: black;
		height: 1px;
	}

	.part-title{
		p{
			padding-top: 10px;
			float: left;
			font-size: 25px;
			font-weight: bold;
			color: #9C4343;
		}
	}

	.page-padding-content{
		padding-left: 80px;
		padding-right: 80px;
	}

	.button{
		background-color: #9C4343;
		color: white;
		padding: 8px;
		border-radius: 8px;
		border: 1px solid white;
		font-weight: bold;
	  }
	  
	.button:hover{
		color: white;
		background-color: #8a3b3b;
	}

	.previous-price{
		text-decoration: line-through;
		font-size: 15px;
	}

	.final-price{
		font-size: 20px;
		font-weight: bold;
	}

	.button-in-list{
		background-color: white;
		text-align: left;
		font-size: 15px;
		color: black;
		border: none;
	}

	.button-in-list:hover{
		color: #9C4343;
	}

	.button-in-list.active{
		color: #9C4343;
		font-weight: bold;
	}
}