.your-cart{
    @media screen and (max-width: 768px){
        padding: 0px;
    }
    .products-in-cart{
        margin-top: 50px;
        h5{
            font-weight: bold;
            @media screen and (max-width: 768px){
                font-size: 15px;
            }
        }

        .products-in-cart-table{
            h3{
                padding: 30px;
                text-align: center;
            }
        }
    }

    .cart-totals{
        text-align: center;
        justify-content: center;
    
        .cart-totals-price{
            font-size: 30px;
            padding: 20px;
        }

        button{
            width: 150px;
        }
    }
}