.products-in-cart{
    margin-top: 50px;
    h5{
        font-weight: bold;
    }

    .products-in-cart-table{
        h3{
            padding: 30px;
            text-align: center;
        }
    }
}

.cart-totals{
    text-align: center;
    justify-content: center;
  }
  
  .cart-totals-price{
    font-size: 30px;
    padding: 20px;
  }