#carousel-control{
    position: relative;
    .books-show-content{
        width: 100%;
        margin: 0px;
    }
    button{
        width: 80px;
    }
    i{
        font-size: 50px;
        color: lightgray;
        padding: 30px;
    }
}