ul.pagination{
    padding-top: 20px;
    padding-right: 0px;
    display: flex;
    justify-content: center;

    li.page-item.active button{
        background-color: #9C4343;
        color: white;
        width: auto;
        border: 1px solid #9C4343;
    }

    li.page-item.disabled button{
        width: auto;
        color: gray;
    }

    li.page-item button{
        width: auto;
        color: black;
        
    }

    li.page-item button:hover{
        color: #E69393;
    }

    li.page-item{
        .previous-next{
            width: auto;
        }
    }
}