.shop-content {
    .shop-books-show{
        margin-top: 20px;

        .describe-books-show-content{
            display: flex;
            align-items: center;
        }
        .edit-books-show-content{
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
    .books-show{
        border: none;
    }
}