.shop-content {
    .shop-books-show{
        .describe-books-show-content{
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }
        .edit-books-show-content{
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .books-show{
            margin-top: 20px;
            border: none;
            display: flex;
            justify-content: center;
        }
    }
}